<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">         

        <title>MintM | AI Solutions</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        {% endblock %}
    </head>

    <body>       
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        <!-- Add Java Script Files Here-->
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>

</html>