{# {% trans_default_domain 'FOSUserBundle' %} #}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

 <div class="container">
    <div id="login" class="login-form">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="text-center">Log in</h2>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'AppBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'AppBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'AppBundle') }}" class="btn btn-primary btn-block" />
            </div>

            <div class="clearfix">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'AppBundle') }}</label>
                <a href="#" class="pull-right">{{ 'security.forgot_password'|trans({}, 'AppBundle') }}</a>
            </div>                
        </form>
        <p class="text-center">
            <a href="#">{{ 'registration.create_account'|trans({}, 'AppBundle') }}</a>
        </p>
    </div>
</div>
